@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.centerred_logo {
    margin: 0px 30px;
    transition: .4s all ease-in-out;
}

.centerred_logo:hover{
    transform: scale(0.9);
}

.navbar-brand img {
    max-height: 70px;
    transition-duration: .5s;
}

:root {
    --main_color: #dbb837;
    --primary_color: #2665d0;
    --secondary_color: #1f54bf;
    --color_bg_secondary: #F2F2F2;
}

/* navbar part start herer  */
.main_nav {
    background-color: var(--primary_color);
    /* transition: 2s all ease-in-out;
    position: sticky; */
}

.main_nav {}

.main_nav .navbar-nav {}

.main_nav .nav-item {}

.main_nav .nav-item .nav-link {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.main_nav .nav-item .nav-link.active {}

/* navbar part end here  */
.top_barcamd {
    position: relative;
    background: var(--primary_color);
    z-index: 0;
}

.barcamd_box {
    text-align: center;
    padding: 50px 0px;
    min-height: 50vh;
}

.groupSvg {
    position: absolute;
    left: 5%;
    max-width: 120px;
    bottom: -70px;
    z-index: 0;
    z-index: -1;
}

.circleLine {
    position: absolute;
    max-height: 100px;
    right: 25%;
    bottom: -10px;
}

.circleWhite {
    position: absolute;
    right: 10%;
    bottom: -40px;
    max-height: 80px;
}

.barcamd_box ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.barcamd_box ul li {
    margin: 3px;
    color: var(--main_color);
    letter-spacing: 2px;
    font-size: 14px;
}

.barcamd_box ul li a {
    text-decoration: none;
    color: #fff;
}
.main_nav .nav-item .nav-link:hover{
    color: var(--main_color);
}

.barcamd_box h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    margin: 20px 0px;
}

.barcamd_box a {}

.btn_primary {
    color: #fff;
    background: var(--main_color);
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 50px;
    display: block;
    width: fit-content;
    margin: 20px auto;
    font-size: 18px;
    transition: .4s all ease-in-out;
}


/* about section start here  */
.about_sec {

    padding: 50px 0px;
}

.about_content {}

.about_content h2 {
    color: var(--primary_color);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.about_content p {
    font-size: 18px;
    margin-bottom: 14px;
    font-family: "Roboto", sans-serif;
}

.about_content p strong {}

.content_image {
    height: 100%;
    overflow: auto;
}

.content_image img {
    border-radius: 30px;
    height: 100%;
    object-fit: cover;
}

.section_content {}

.section_content .container {
    padding: 30px;
    max-width: 1200px;
}

.bg_secondary {
    background-color: var(--color_bg_secondary);
}

.btn_primary i {
    margin-left: 5px;
}

.btn_primary:hover {
    background-color: #fff;
    color: var(--secondary_color);
}

.getStart {
    background-color: var(--primary_color);
    margin-bottom: 20px;
    background: linear-gradient(45deg, var(--secondary_color), var(--primary_color));
}

.start_image {
    position: relative;
    min-height: 60vh;
}

.start_image img {
    position: absolute;
    /* height: 100%; */
    bottom: -30px;
    width: 100%;
}

.getStart h1 {
    color: #fff;
    font-size: 26px;
}

.getStart .btn_primary {}

@media(max-width: 992px) {
    .start_image img {
        position: unset;
        max-height: 500px;
        width: auto;
    }

    .section_content .container {
        padding-bottom: 0;
    }

    .start_image {
        margin: 0 auto;
        text-align: center;
    }
}

.slider_sec {}

.slider_sec .swiper-slide img {
    width: 100%;
}

footer {
    position: relative;
    z-index: 0;
    min-height: 100px;
    padding: 20px 0px;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--primary_color);
    z-index: -1;
    height: 100%;
    width: 35%;
}

footer::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: -1;
    height: 100%;
    width: 65%;
}

.logo_social {}

.quick_links {
    padding: 20px;
}

@media(max-width: 767px) {
    footer::before {
        width: 100%;
    }

    footer::after {
        width: 0%;
    }
}

.logo_social img {
    max-width: 250px;
    transition: .4s all ease-in-out;
}

.logo_social ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 30px 0px;
}

.logo_social ul li {
    margin-right: 15px;
}

.logo_social ul li a {
    transition: .4s all ease-in-out;
}

.logo_social ul li a i {
    font-size: 25px;
    color: #fff;
}

.logo_social ul li a:hover i {
    color: var(--main_color);
}

.quick_links ul {
    list-style: none;
    padding: 0;
}

.quick_links ul li {
    margin-bottom: 3px;
}

.quick_links ul li a {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #000;
    transition: .4s all ease-in-out;
}

.service_title {
    position: relative;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.service_title::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    background: linear-gradient(45deg, var(--main_color), var(--primary_color));
}
.quick_links ul li a:hover{
    color: var(--main_color);
}
.logo_social img:hover{
    transform: scale(1.1);
}

.main_nav.sticky {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: var(--secondary_color);
}
.main_nav.sticky .navbar-brand img {
    max-height: 60px;
    position: sticky;
    top: 0;
}
.loginBTN{
    background-color: var(--main_color);
    border-radius: 20px;
    padding: 5px;
}
.navbar-toggler{
    color: #fff;
    outline: 0;
    box-shadow: none !important;
}
.navbar-toggler:active,.navbar-toggler:focus{
    background-color: #fff;
    color: var(--secondary_color);
}
@media(max-width: 768px){
    .circleLine {
        position: absolute;
        max-height: 100px;
        right: -10%;
        top: 5%;
    }
    .groupSvg {
        position: absolute;
        left: -6%;
    }
    .top_barcamd {
        z-index: 0;
        overflow: hidden;
    }
}